body {
    font-family: var(--font-family);
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    color: var(--color-black);
}

h1 {
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: var(--color-white);
}

h2 {
    font-size: 22px;
    line-height: 118%;
}

h3 {
    font-size: 21px;
    line-height: 124%;
}

p {
    font-weight: 500;
    color: var(--color-gray);
}

a:hover {
    color: var(--color-gren);
}
